.index-page {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #223;
}

.content {
  flex: 1;

  & iframe {
    width: 100%;
  }
}

.frames {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  width: 100vw;

  & iframe {
    height: 100vh;
    border: 0;
  }
}

.badge {
  padding: 0.5em 1em;
  background: rgb(255, 255, 154);
  color: #121212;
  font: inherit;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5em;
}

.url-form {
  padding: 10px;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 10px;
  font-family: sans-serif;

  & h1 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #ccc;

    & a {
      color: inherit;
      text-decoration: none;
      font: inherit;

      &:hover {
        color: #fff;
      }
    }
  }

  & input {
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 14px;
    flex: 1;
  }

  & button,
  & select {
    border-radius: 30px;
    border: none;
    background-color: #eee;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: #121212;
  }
}

.console {
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  font-family: monospace;
  color: #fff;
  background: rgb(49, 55, 73);
  max-width: 800px;
  min-width: 300px;
  width: 25%;
  height: 100%;

  & * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

  & button {
    border-radius: 30px;
    border: none;
    background-color: #eee;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #121212;
  }

  & h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  & ul {
    list-style: none;
    overflow: auto;
    max-height: 90vh;

    & li {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.5;
      color: #121212;
      background-color: #eee;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      overflow: auto;
    }
  }
}
